$dark-gray: #BDBDBD;
$grey: #A9A9A9;
$gray94: #EEE;
$light-gray: #F8F8F8;
$medium-gray: #D3D3D3;
$dark-gray: #BDBDBD;
$purple: #6A1B9A;
$light-purple:#E1BEE7;
$white: #ffffff;
$black: #000000;
$light-black:#4a4a4a;
$darkest-gray: #666666;