@mixin textField-icon() {
  background-repeat: no-repeat !important;
  border: 1px thick;
  height: 25px;
  width: 44px;
  background-size: 44px 22px !important;
  background-position: left !important;
  background-color:$medium-gray;
}